
{% extends "layouts/base-fullscreen.html" %}

{% block title %} Doctor Registration | AYUSH {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

      <div class="peer peer-greed h-100 pos-r bgr-n bgpX-c bgpY-c bgsz-cv" style='background-image: url("/static/assets/static/images/bg.jpg")'>
        <div class="pos-a centerXY">
          <div class="bgc-white bdrs-50p pos-r" style="width: 120px; height: 120px;">
            <img class="pos-a centerXY" src="/static/assets/static/images/logo.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 peer pX-40 pY-80 h-100 bgc-white scrollable pos-r" style="min-width: 320px;">
      
        <h3 class="fw-300 c-grey-900 mB-40">
          Doctor Registration
          <!-- <a target="_blank" rel="noopener noreferrer" 
             href="/">Ayush</a> - Register (DOCTOR REGISTRATION) -->
        </h3>

        {% if msg %}
            <h4 class="fw-300 c-grey-900 mB-10">{{ msg | safe }}</h4>
        {% else %}
            <p class="fw-300 c-grey-900 mB-10">
              Enter Your Details Here
            </p>
        {% endif %}

        <form method="post" action="">

          {{ form.hidden_tag() }}

          <div class="form-group row">
            <div class="col-md-6">
            <label class="text-normal text-dark">Username</label>
            {{ form.username(placeholder="Username", class="form-control") }}
            </div>
            <div class="col-md-6">
            <label class="text-normal text-dark">Password</label>
            {{ form.password(placeholder="Password", class="form-control", type="password") }}
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-6">
            <label class="text-normal text-dark">First Name</label>
            {{ form.firstname(placeholder="First Name", class="form-control") }}
            </div>
            <div class="col-md-6">
            <label class="text-normal text-dark">Last Name</label>
            {{ form.lastname(placeholder=" Last Name", class="form-control") }}
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-6">
            <label class="text-normal text-dark">Contact Number</label>
            {{ form.contact_Number(placeholder="Contact Number", class="form-control") }}
            </div>
            <div class="col-md-6">
            <label class="text-normal text-dark">Address</label>
            {{ form.address(placeholder=" Your Address", class="form-control") }}
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
            <label class="text-normal text-dark">Hospital Affiliation</label>
            {{ form.Hospital_Affiliation(placeholder="Hospital Affiliation", class="form-control") }}
            </div>
            <div class="col-md-6">
            <label class="text-normal text-dark">Specialization</label>
            {{ form.Specialization(placeholder="Specialization", class="form-control") }}
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
            <label class="text-normal text-dark">Affiliated Patients</label>
            {{ form.affiliated_patients(placeholder="Affiliated Patients", class="form-control") }}
            </div>
          </div>
          <div class='row'>
           <button type="submit" name="register" class="btn btn-primary">&nbsp;Register</button> 
            <span class="text-small font-weight-semibold">Have An Account?</span>
            <a href="{{ url_for('base_blueprint.login') }}" class="text-black text-small">Login</a>   
          </div>

        </form>
      </div>

{% endblock content %}
