
{% extends "layouts/base-fullscreen.html" %}

{% block title %} Register {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

      <div class="peer peer-greed h-100 pos-r bgr-n bgpX-c bgpY-c bgsz-cv" style='background-image: url("/static/assets/static/images/bg.jpg")'>
        <div class="pos-a centerXY">
          <div class="bgc-white bdrs-50p pos-r" style="width: 120px; height: 120px;">
            <img class="pos-a centerXY" src="/static/assets/static/images/logo.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 peer pX-40 pY-80 h-100 bgc-white scrollable pos-r" style="min-width: 320px;">
      
        <h3 class="fw-300 c-grey-900 mB-40">
          User Registration
           <!-- <a  rel="noopener noreferrer" 
             href="/">Ayush</a> - Register (USER REGISTRATION)  -->
        </h3>
        {% if msg %}
            <h4 class="fw-300 c-grey-900 mB-10">{{ msg | safe }}</h4>
        {% else %}
            <p class="fw-300 c-grey-900 mB-10">
              Enter Your Details Here
            </p>
        {% endif %}

        <form method="post" action="">

          {{ form.hidden_tag() }}

          <div class="form-group row">
            <div class="col-md-6">
            <label class="text-normal text-dark">Username</label>
            {{ form.username(placeholder="Username", class="form-control") }}
            </div>
            <div class="col-md-6">
            <label class="text-normal text-dark">Email</label>
            {{ form.email(placeholder="Email Address", class="form-control") }}
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-6">
            <label class="text-normal text-dark">Password</label>
            {{ form.password(placeholder="Password", class="form-control", type="password") }}
            </div>
            <div class="col-md-6">
            <label class="text-normal text-dark">Mobile</label>
            {{ form.mobile(placeholder="Mobile Number", class="form-control") }}
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-6">
            <label class="text-normal text-dark">First Name</label>
            {{ form.firstname(placeholder="First Name", class="form-control") }}
            </div>
            <div class="col-md-6">
            <label class="text-normal text-dark">Last Name</label>
            {{ form.lastname(placeholder=" Last Name", class="form-control") }}
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-6">
            <label class="text-normal text-dark">Select Age</label>
            {{ form.age(placeholder="Age", class="form-control") }}
            </div>
            <div class="col-md-6">
            <label class="text-normal text-dark">Select Gender</label>
            {{ form.gender(placeholder="Gender", class="form-control") }}
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-6">
            <label class="text-normal text-dark">Address</label>
            {{ form.address(placeholder="Your Address", class="form-control") }}
            </div>
            <div class="col-md-6">
            <label class="text-normal text-dark">Zipcode</label>
            {{ form.zipcode(placeholder="Zipcode", class="form-control") }}
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-6">
            <label class="text-normal text-dark">Primary Care Physician</label>
            {{ form.primary_care_physician(placeholder="Physician", class="form-control") }}
            </div>
            <div class="col-md-6">
            <label class="text-normal text-dark">Secondary Doctor</label>
            {{ form.Secondary_doctor(placeholder="Secondary Doctor", class="form-control") }}
            </div>
          </div>

          
          <div class="form-group row">
            <div class="col-md-6">
            <label class="text-normal text-dark">Hospital Name</label>
            {{ form.Hospital_name(placeholder="Hospital", class="form-control") }}
            </div>
            <div class="col-md-6">
            <label class="text-normal text-dark">Health Conditions</label>
            {{ form.Health_conditions_of_interest(placeholder="Health Conditions", class="form-control") }}
            </div>
          </div>

          <!-- <div class="row">
            <div class="col-md-6">
            <label class="text-normal text-dark">SUBSCRIBE TO ALERTS?</label>
            {{ form.subscription_to_alerts(placeholder="HOSPITAL") }}
            </div>
            <div class="col-md-6">
            <label class="text-normal text-dark">PERMISSION TO DOCTOR</label>
            {{ form.permission_for_doctor(placeholder="") }}
            </div>
          </div> -->

          <div class="form-group">
            <button type="submit" name="register" class="btn btn-primary">Register</button> 

            &nbsp; &nbsp;
            <span class="text-small font-weight-semibold">Have An Account?</span>
            <a href="{{ url_for('base_blueprint.login') }}" class="text-black text-small">Login</a>    
          </div>

        </form>
      </div>

{% endblock content %}
